
* {
  position: relative;
}

section{
  box-sizing: border-box;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 41px;
}

a {
  text-decoration: none;
}

div {
    box-sizing: border-box;
    position: relative;
 }

 header {
    box-sizing: border-box;
    display: block;
    height: 132px;
    width: 100%;
    padding-top: 42px;
    line-height: 132px;
    text-align: left;
    vertical-align: middle;
 }

 header h1 {
   color: #f2ac04;
   line-height: 28px;
   font-size: 18px;
 }

 header h2 {
   color: #929292;
   line-height: 24px;
   font-size: 14px;
 }


 nav {
   box-sizing: border-box;
   display: block;
   height: 44px;
   border-top: 1px solid  #c4c4c4;
   border-bottom: 1px solid  #c4c4c4;
   text-align: left;
   margin-bottom: 40px
 }

 section h2 {
   color : #555656;
   margin-bottom: 11px;
 }

 .border-box {
   box-sizing: border-box;
 }

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.main-container {
  display: block;
  height: 1195px;
  width:1005px;
  margin: 0px auto;
  border: 1px solid #c4c4c4;
  border-top: 8px solid #f2ac04;
  box-shadow: 1px 1px 1px 1px #cccccc;
  padding: 0px 40px;
}


.logo {
  position:relative;
  display: inline-block;
  width: 245px;
  height: 56px;
  left: 0px;
  top: 0%;
  vertical-align: top;
  margin-left: -7px;
  background: url(../img/lorem_logo.png) no-repeat left center;
  text-align: right;
}

.header-text-content {
  position: absolute;
  display: inline-block;
  width: 400px;
  height: 52px;
  border-left: 1px solid #cac8c5;
  padding-left: 28px;
}
/*-------------------------------------NAV BAR-------------------------------------*/
.nav-bar-item-container {
  box-sizing: border-box;
  width: auto;
  height: 42px;
  vertical-align: middle;
  margin-right: 77px;
}

.nav-bar-item-container:hover p {
    z-index: -2;
    border-bottom: 3px solid #f2ac04;
}



.nav-bar-item-container p{
  position: relative;
  border-bottom: -6px;
  font-size: 18px;
  line-height: 39px;
  color: grey;
}
/*-------------------------------------CAROUSEL WIDGET-------------------------------------*/
.carousel-widget {
  width: 451px;
  height: 303px;
  border: 1px solid #b0b0b0;
  margin-right: 15px;
}

.carousel-widget-image {
  width: 449px;
  height: 249px;
  margin: 1px auto;
  margin-bottom: 0px;
  background: url(http://placehold.it/449x301) no-repeat center center;
}

.carousel-widget-controller-bar {
  position: relative;
  box-sizing: border-box;
  height: 52px;
  width: 449px;
  border: 1px solid #d4d4d4;
  margin: 0px auto;
  padding: 0px 21px;
}

.carousel-widget-arrow-container {
    position: relative;
    top: 50%;
    margin: -13px -0px 0px -3px;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    background-color: #f2ac04;
    line-height: 26px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.carousel-widget-arrow-container i {
  font-size: 18px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.carousel-widget-arrow-container:hover {
    cursor: pointer;
}

.carousel-widget-arrow-container:hover i {
  font-size: 18px;
    color: black;
}

.carousel-widget-caption {
    width: 350px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #666666;
}
/*-------------------------------------ARTICLE WIDGET-------------------------------------*/
.article-widget {
  width: 451px;
  height: 303px;

  margin-right: -15px;
}

.article-widget-image {
  width: 450px;
  height: 206px;
  padding: 67px 0px 7px 22px;
  color: white;
  background: url(http://placehold.it/449x199) no-repeat top center;
  border-bottom: 2px solid black;
}

.article-widget-image h2{
  color: white;
  font-size: 24px;
}

.article-widget-image h1{
  color: white;
  text-align: left;
  font-size: 44px;
}

.article-widget-text {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 82px;
  margin-top: 16px;
  color: #3c3c3c;
  font-size: 14px;
  line-height: 20px;
}

.more-button {
  position: absolute;
  bottom: -18px;
  right: 3px;
  width: 57px;
  height: 15px;
  background-color: black;
}

.more-button:hover {
  cursor: pointer;
}

.more-button-text {
  color:white;
  font: 12px;
  height: 100%;
  width: 43px;
  border-right: 1px solid white;
  font-size: 12px;
  padding-left: 7px;
  line-height: 14px;
}

.more-button-arrow {
  width: 5px;
  height: 100%;
  background: url(../img/arrow_right.png) black no-repeat center center;
  font-weight: 900;
}
/*-------------------------------------WIDGET COLUMNS -------------------------------------*/
.widget-column {
  width: 274px;
  height: 276px;
  margin-top: 37px;
  margin-right: -5px;
  border-right: 1px solid #e5e5e5;
}

.widget-column:last-child{
  border-right: 1px dotted green;
}

.latest-news-widget  {
  width: 100%;
  height: 264px;
  padding-right: 9px;
}

.latest-news-widget h2 {
  color: #565656;
  font-size: 16px;
  margin-bottom: 16px;
}

.news-container{
  display:block;
  height: 79px;
  width: 263px;
  border-bottom: 1px dotted grey;

}
